<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initialscale=1.0">
    <title>云图登录页</title>
    <link rel="stylesheet" href="../../static/css/office/login.css">
</head>

<body>
    <div class="loginCard">
        <div class="logo">
            <img src="../../static/assets/images/logo.png" alt="" srcset="">
        </div>
        <form action="../../controllers/office/login.php" method="post">
            <h2 style="text-align: center;">登录页</h2>
            <label for="">昵称：</label>
            <input type="text" name="username" id="" placeholder="请输入您的用户昵称">
            <br>
            <br>
            <label for="">密码：</label>
            <input type="password" name="passwd" id="" placeholder="请输入您的密码">
            <br>
            <br>
            <button type="submit">登录</button>
            <a href="./register.html">没账号，我选择注册</a>
        </form>
    </div>
</body>

</html>